@import "variables.module.scss";
@import "fonts.module.scss";

.tableAction {
  margin-bottom: 15px;

  :global(.btn) {
    background: linear-gradient(0deg, #f3f4f9, #f3f4f9),
      linear-gradient(0deg, #efeef3, #efeef3),
      linear-gradient(0deg, #efeef3, #efeef3),
      linear-gradient(
        180deg,
        rgba(239, 238, 243, 0.27) 0%,
        rgba(239, 238, 243, 0.29) 100%
      ),
      #dde1eb;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    height: 35px;
    line-height: 35px;
    padding: 0px 10px;
    font-size: 14px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      height: 14px;
      margin-right: 8px;
      font-size: 16px;
    }

    &.addBtn {
      color: var(--Main) !important;
    }
    &.upload {
      color: #7f8699 !important;
      position: relative;
      overflow: hidden;

      input[type="file"] {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }
  }

  .dropMenu {
    background-color: #f3f4f9;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    height: 35px;
    line-height: 35px;
    padding: 0px 10px;
    font-size: 14px;
    color: #7f8699 !important;
    width: 220px;
  }
  .totalCount {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;

    span {
      color: #7f8699;
    }
  }
}

:global(.MuiDataGrid-panel) {
  div,
  label,
  span {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-size: 14px;
  }
  :global(.MuiSwitch-switchBase) {
    &:global(.Mui-checked) {
      :global(.MuiSwitch-thumb) {
        color: var(--Main);
      }
    }
  }
  :global(.MuiSwitch-track) {
    background: var(--Main) !important;
  }
  :global(.MuiButton-root) {
    color: var(--Main);
  }
}
.dataTable {
  div,
  label,
  span {
    font-family: "Plus Jakarta Sans", sans-serif !important;
  }

  :global(.MuiDataGrid-toolbarContainer) {
    padding: 8px 10px;
    background: var(--Main);
    :global(.MuiButtonBase-root) {
      background-color: white;
      margin: 0px;
      padding: 2px 10px;
      color: gray;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
      margin-right: 8px;
      font-family: "Plus Jakarta Sans", sans-serif !important;
      font-weight: normal;
      font-size: 12px;

      :global(.MuiButton-startIcon) {
        :global(.MuiSvgIcon-root) {
          font-size: 18px;
        }
      }
    }

    :global(.MuiFormControl-root) {
      background: #fff;
      padding: 5px 10px;
      border-radius: 6px;
      color: gray;

      :global(.MuiInput-root) {
        &::after,
        &::before {
          display: none;
        }
        input {
          padding: 0px 0px;
          margin-left: 5px;
          font-size: 14px;
        }
        :global(.MuiIconButton-root) {
          display: none;
        }
      }
    }
  }

  :global(.MuiDataGrid-cellCheckbox) {
    &:focus,
    &:focus-within {
      outline: none !important;
    }
  }
  :global(.MuiCheckbox-root) {
    :global(.MuiSvgIcon-root) {
      color: gray;
      font-size: 23px;
      border-radius: 10px;
    }
  }

  :global(.MuiDataGrid-root) {
    display: block;
    // min-height: 1px !important;
    // max-height: calc(100vh - 185px) !important;
    // overflow: auto;

    :global(.MuiDataGrid-main) {
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      :global(.MuiDataGrid-columnHeaders) {
        // background-color: var(--Main);
        border-radius: 0px !important;

        :global(.MuiDataGrid-columnHeadersInner) {
          :global(.MuiDataGrid-columnHeader) {
            font-family: "Plus Jakarta Sans", sans-serif !important;

            &:focus,
            &:focus-within {
              outline: none;
            }
          }
          :global(.MuiDataGrid-columnSeparator) {
          }
        }
      }

      :global(.MuiDataGrid-virtualScroller) {
        min-height: 1px;
        max-height: calc(100vh - 277px);
        overflow: auto !important;
        &::-webkit-scrollbar {
          display: none;
        }
        :global(.MuiDataGrid-virtualScrollerContent) {
          height: 400px !important;
        }

        :global(.MuiDataGrid-virtualScrollerRenderZone) {
          :global(.MuiDataGrid-row) {
            font-family: "Plus Jakarta Sans", sans-serif !important;
            height: auto;

            max-height: 60px !important;
            min-height: 60px !important;
            border-bottom: 1px solid #efeef3;
            &:nth-of-type(odd) {
            }
            &:nth-of-type(even) {
            }
            :global(.MuiDataGrid-cell) {
              max-height: 60px !important;
              min-height: 60px !important;
              &:focus,
              &:focus-within {
                outline: none !important;
              }
            }
          }
        }
      }
    }

    :global(.MuiDataGrid-footerContainer) {
      :global(.MuiToolbar-root) {
        p {
          margin: 0;
        }
      }
    }
  }
}

.actionTable {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    :global(.btn) {
      width: 30px;
      height: 30px;
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
      border-radius: 8px;

      &.edit {
        color: #1abf73;
        border-color: #1abf73;
      }
      &.delete {
        color: #e7622e;
        border-color: #e7622e;
      }
      &.unpaid {
        background: #7f8699;
        border-radius: 5px;
        color: #fff;
        font-size: 11px;
        padding: 3px 10px;
        text-decoration: none;
        text-align: center;
        display: inline;
      }
      &.moreDrop {
        width: auto;
        height: auto;

        :global(.form-select) {
          border: none;
          background-color: transparent;
        }
      }
    }
  }
}

.tableStudent {
  display: flex;
  align-items: center;

  .studentImg {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 12px;
    }
  }
  .studentName {
    span {
      display: block;
      margin-bottom: 5px;
    }

    .offline {
      background: #7f8699;
      border-radius: 5px;
      color: #fff;
      font-size: 11px;
      padding: 3px 10px;
      text-decoration: none;
      text-align: center;
    }
  }
}

.tableDuration {
  .tableProgress {
    margin-top: 8px;

    span {
      margin-right: 10px;
    }

    .inProgress {
      background: #1abf73;
      border-radius: 5px;
      color: #fff;
      font-size: 11px;
      padding: 3px 10px;
      text-decoration: none;
      text-align: center;
    }
  }
}

.attendentTable {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    :global(.btn) {
      width: 130px;
      height: 30px;
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
      border-radius: 8px;

      &.Present {
        color: #ffffff;
        background-color: #1abf73;
        border-color: #1abf73;
      }
      &.Absent {
        color: #ffffff;
        background-color: #f91d0f;

        border-color: #f91d0f;
      }
    }
  }
}

/*=======================================================
//////////////RESPONSIVE MEDIA QUERY START///////////////
=======================================================*/
@media (max-width: 767px) {
  .dataTable {
    :global(.MuiDataGrid-toolbarContainer) {
      :global(.MuiButtonBase-root) {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dataTable {
    :global(.MuiDataGrid-toolbarContainer) {
      :global(.MuiFormControl-root) {
        margin-top: 10px;
      }
    }

    :global(.MuiDataGrid-root) {
      :global(.MuiDataGrid-virtualScroller) {
        max-height: calc(100vh - 310px) !important;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tableAction {
    :global(.btn) {
      font-size: 12px;
      margin-right: 8px;
    }

    .dropMenu {
      width: 180px;
    }
  }
}
