.fixSpace {
  padding-top: 120px;
}
.space {
  padding: 0px 30px;
}

.sliderSection {
  position: relative;

  :global(.owl-carousel) {
    :global(.item) {
      img {
        width: 100%;
        height: 480px;
        object-fit: cover;
        border-radius: 15px 15px 0px 15px;
      }
    }
    :global(.owl-nav) {
      display: flex;
      margin: 0;
      position: absolute;
      right: 225px;
      bottom: 20px;
      z-index: 999;

      button {
        width: 44px;
        height: 44px;
        background: #f3f3f3 !important;
        border-radius: 50px !important;
        font-size: 20px !important;
        font-weight: bold !important;
        display: flex !important;
        justify-content: center;
        color: #bababa !important;
        align-items: center;
        transition: 0.5s !important;

        &:hover {
          background: #E0EBA5 !important;
          color: #738801 !important;
        }
      }
    }
  }
  .overlay {
    position: absolute;
    bottom: -2px;
    z-index: 9;
    right: -2px;
    width: 220px;

    .bgShape {
      width: 100%;
      height: 100%;
    }
    .visitorRating {
      position: absolute;
      right: 0;
      bottom: 2px;
      width: 190px;
      background: var(--Main2);
      height: 115px;
      border-radius: 10px;
      color: var(--Color2);
      padding: 10px 15px;

      h4 {
        font-size: 40px;
        position: absolute;
        right: 15px;
        bottom: 10px;
        font-weight: bold;
        margin: 0;

        span {
          font-size: 12px;
        }
      }
      .starIcon {
        font-size: 28px;
      }
      p {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 20px;
      }
    }
  }
}

.padding_top {
  padding-top: 20px;
}
.bannerSection {
  .contentBox {
    z-index: 99;
    background-color: #fff;
    padding: 42px 42px;
    border-radius: 8px;

    .contentHeading {
      h1 {
        color: #1c1c1c;
        font-weight: 600;
        font-size: 50px;
        line-height: 54px;
        margin: 10px 0px 15px 0px;
      }
      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #878787;
        padding-top: 8px;
        span {
          color: #45d6ad;
        }
      }
    }
    .contentHeading2 {
      text-align: center;
      p {
        color: #ababab;
        font-size: 14px;
      }
      h1 {
        font-size: 25px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: -0.04em;
        text-align: center;
      }
    }
    .content_btn {

      button {
        background-color: #f3f3f3;
        color: #bababa;
        border: none;
        height: 50px;
        width: 100%;
        border-radius: 5px;
        padding: 10px 16px;
        font-weight: 600;
        transition: 0.5s;

        &:hover, &:focus {
          background: #E0EBA5;
          color: #738801;
        }
      }
    }
    .content_detail {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a {
        color: #393939;
      }

      p {
        padding-right: 20px;
        display: flex;
        align-items: center;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.04em;
        color: #393939;

        span {
          padding-left: 5px;
        }
      }
    }
    .rating_btn {
      padding-top: 14px;

      ul {
        display: flex;
        border: 1px solid #DEDEDE;
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
        list-style: none;
        border-radius: 10px;
        overflow: hidden;

        li {
          width: 20%;

          &:last-child {

            button {
              border-right: none;
            }
          }

          button {
            display: block;
            background-color: transparent;
            width: 100%;
            border: none;
            padding: 15px 10px;
            color: #BABABA;
            border-right: 1px solid #DEDEDE;
            font-weight: 600;

            &.active , &:focus{
              background: var(--Main2);
              color: var(--Color2);
            }
          }
        }
      }
      p {
        margin: 0px;
        color: #ababab;
        font-weight: 500;
        font-size: 10px;
        text-align: center;
      }
    }
    .form_box {
      label {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #393939;
        padding-top: 5px !important;
      }
      :global(.form-control) {
        background-color: transparent;
        border: 1px solid #dedede;
        height: 125px;
        color: #dedede;
        font-size: 14px;
        padding: 16px;

        &:focus {
          box-shadow: none;
          border: 1px solid var(--Color2);
        }
      }
    }
    .about_detil {
      h3 {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.04em;
      }
      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #878787;
      }
      ul {
        li {
          color: #878787;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
        }
      }
    }
    .top_amenties {
      h3 {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.04em;
      }
      ul {
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
        li {
          list-style: none;
          line-height: 38px;
          width: 33.33%;

          img {
            margin-right: 7px;
            border-radius: 0px;
            width: 28px;
          }
          span {
            font-family: "Plus Jakarta Sans", sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: -0.04em;
            width: 156px;
            color: #393939;
          }
        }
      }
    }
  }

  .visited_cafe {
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: underline;
      color:#1C1C1C;
      padding: 0px 7px;
      font-weight: 600;
    }
    .locationIcon {
      color: #BABABA;
      background-color: #f3f3f3;
      margin-left: 10px;
      width: 40px;
      height: 40px;
      border: none;
      font-size: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;

      &.active {
        background: #FFF0C6;
      }

      img {
        height: 20px;
      }
    }
    .Cafe_icons {
      color: #BABABA;
      background-color: #f3f3f3;
      margin-left: 10px;
      width: 40px;
      height: 40px;
      border: none;
      font-size: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
    }
  }
}


.ratingBox {
  margin-top: 30px;

  p {
    font-size: 14px;
    color: #393939;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }
  .ratingStar {
    display: flex;
    justify-content: center;

    button {
      border: none;
      background: transparent;
      font-size: 40px;
      color: #F3F3F3;
      margin: 0px 10px;
      padding: 0;
      line-height: 0px;

      &.active {
        color: #E0EBA5;
      }
    }
  }
}

.left_arrow {
  background: #f3f3f3 !important;
  border-radius: 50px !important;
  font-size: 30px !important;
  font-weight: bold !important;
  display: flex !important;
  justify-content: center;
  color: #bababa !important;
  align-items: center;
  z-index: 99;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 54px;
  top: 50px;
}

.featuredSection {
  :global(.item) {
    padding: 0px 15px;
  }

  :global(.owl-carousel) {
    :global(.owl-nav) {
      display: flex;
      position: absolute;
      right: 21px;
      bottom: 0;
      margin: 0;
      // margin-top: 10px;

      button {
        width: 50px;
        height: 50px;
        background: #f3f3f3 !important;
        border-radius: 50px !important;
        font-size: 20px !important;
        font-weight: bold !important;
        display: flex !important;
        justify-content: center;
        color: #bababa !important;
        align-items: center;
        transition: 0.5s;

        &:hover {
          background: #E0EBA5 !important;
          color: #738801 !important;
        }
      }
    }
  }
  .reviewBg {
    background-color: #fff;
    border-radius: 8px;
    padding-bottom: 30px;

    h3 {
      padding: 48px 27px 10px 36px;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      color: #1C1C1C;
    }
  }
}
.reviewSection {
  .reviewImg {
    background: #ffffff;
    border-radius: 20px;
    padding: 20px 20px;
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }
}

.reviewSide {
  background: #ffffff;
  border-radius: 8px;
  padding: 48px 48px;

  .allReviews {

    p {
      a {
        color: #1C1C1C;
      }
    }
    .reviewFilter {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h5 {
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        color: #1c1c1c;
        margin-bottom: 0px;
      }

      .reviewDropdonw {
        display: flex;
        align-items: center;
        gap: 12px;

        :global(.form-select) {
          background-color: #fbfbfb;
          border-radius: 8px;
          padding: 15px;
          height: 51px;
          min-width: 144px;
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
          color: #1c1c1c;

          &:focus {
            box-shadow: none;
            border: 1px solid var(--Color2);
          }
        }
      }
    }

    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #1c1c1c;
      text-decoration: underline;
    }

    .reviewsFilter {
      :global(.form-select) {
        background-color: #ebebeb;
        border: none;
        height: 51px;
        color: #000;

        &:focus {
          box-shadow: none;
          border: 1px solid var(--Color2);
        }
      }
    }

    .cardBox_head {
      span {
        padding-top: 20px;
      }
      h3 {
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        padding: 5px 0px;
      }
      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-decoration: none;
        color: #878787;
      }
      img {
        border-radius: 50%;
        width: 49px;
        height: 49px;
      }
      .cardBox_head2 {
        padding-left: 16px;

        h4 {
          font-size: 18px;
          font-weight: 600;
          line-height: 22px;
          color: #1c1c1c;
        }
        p {
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          color: #878787;
        }
      }
      .reviewComment {
        // padding-bottom: 15px;
  
        &.borderBottom {
          border-bottom: 1px solid #dedede;
        }
  
        ul {
          display: flex;
          align-items: center;
          padding-left: 0px;
          list-style: none;
          gap: 4px;
          cursor: pointer;
          margin-bottom: 8px;
  
          li {
            svg {
              color: #45d6ad;
            }
          }
        }
      }  
    }
  }
  .rating {
    display: flex;
    align-items: center;
    color: #878787;

    svg {
      color: #61e0bc;
      position: relative;
      top: -2px;
      margin-right: 3px;
    }
  }
}

.mobileShow {
  display: none;
}
.desktopShow {
  display: block;
}
.leaveMobileBtn {
  background-color: #E0EBA5;
  color: #738801 !important;
  position: fixed;
  right: -46px;
  top: 190px;
  z-index: 99;
  transform: rotate(270deg);
  padding: 15px 25px;
  border-radius: 20px 20px 0px 0px;
  font-size: 14px;
  font-weight: 600;
  display: none;
}
/*=======================================================
//////////////RESPONSIVE MEDIA QUERY START///////////////
=======================================================*/

@media (max-width: 991px) {
  .leaveMobileBtn {
    display: block;
  }
.mobileShow {
  display: block;
}
.desktopShow {
  display: none;
}
  .space {
    padding: 0px 15px;
  }
  .fixSpace {
    padding-top: 90px;
  }
  .reviewSection { 

    .reviewImg {
      display: none;
    }
  }

  .featuredSection {
    padding: 0px;
    margin-top : 20px;

    .reviewBg {
      
      h3 {
        padding: 20px 25px;
      }
    }
  
    :global(.owl-carousel) {

      :global(.item) {
        padding: 0px 5px;
      }

      :global(.owl-nav) {
        right: 20px;
        bottom: -30px;
      }
    }
  }

  
.left_arrow {
  left: 15px;
  top: 15px;
}

.sliderSection {

  :global(.owl-carousel) {
    :global(.item) {
      img {
        height: 400px;
      }
    }
    :global(.owl-nav) {
      right: 170px;
      bottom: 10px;

    }
  }
  .overlay {
    width: 170px;

    .visitorRating {
      width: 150px;
      height: 90px;

      p {
        font-size: 10px;
        margin-bottom: 8px;
      }
    }
  }
}
  .bannerSection {
    padding: 0px 0px;
   
    .contentBox {
      padding: 20px 20px;

      .contentHeading {

        h1 {
          font-size: 25px;
          line-height: 0px;
          margin: 26px 0px 15px 0px;
        }
      }
      .content_btn {

        button {
          font-size: 14px;
          padding: 0px 5px;
        }
      }
    }
  }

  .reviewFilter {
    .reviewDropdonw {
      :global(.form-select) {
        padding: 8px !important;
        height: 42px !important;
        min-width: 120px !important;
        font-size: 12px !important;
      }
    }
  }

  .reviewSide {
    background: #ffffff;
    border-radius: 8px;
    padding: 42px 20px;
  }
  .reviewsFilter {
    :global(.form-select) {
      margin-bottom: 10px;
    }
  }

  .reviewBg {
    padding-bottom: 70px !important;
  }


  .top_amenties {
    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.04em;
    }
    ul {
      padding: 0px;
      display: flex;
      flex-wrap: wrap;
      li {
        list-style: none;
        line-height: 38px;
        width: 50% !important;
        font-size: 14px;

        span {
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          letter-spacing: -0.04em;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
