.featuredSection{
    padding-bottom: 70px;

    .photoSection{
        background: #FFF;
        border-radius: 20px;
        padding: 28px;

        .photoHeading{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;

            h3{
                font-weight: 600;
                font-size: 30px;
                line-height: 34px;
                color: #1C1C1C;
            }

            .addPhoto{

                a{
                    background: #F1F1F1;
                    border-radius: 4px;
                    padding: 8px 12px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: #BFBFBF;
                }
            }
        }

        .imgSize{
            .photoImg{
                padding: 5px;
                width: 100%;
    
                img{
                    width: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                    height: 180px;
                }
            }
        }
    }
}



.fixSpace {
    padding-top: 120px;
  }
  

.spaceBox {
padding: 30px;
}

/*=======================================================
//////////////RESPONSIVE MEDIA QUERY START///////////////
=======================================================*/



@media (max-width:991px) {
    .spaceBox {
       padding:15px;
    }
.featuredSection{
    padding-bottom: 70px;
}
    
}


@media only screen and (min-width:768px) and (max-width:991px) {

    .bannerSection {
        border-radius: 30px;
        padding: 65px 0px 0px 0px;
    
        

        .imgBox {
            display: block;

            img {
                width: 370px;
            }
        }
    }
}
@media only screen and (min-width:992px) and (max-width:1199px){

    .bannerSection {
        
        .imgBox {
    
            img {
                width:530px;
            }
        }
        .contentBox {
            padding: 40px 20px;
    
            .slTitle {
                font-size: 50px;
                line-height:50px;
            }
        }
    }
    
}


@media only screen and (min-width:1200px) and (max-width:1490px){

    .bannerSection {
        
    
        .imgBox {

    
            img {
                width: 670px;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .contentBox {
            padding: 40px 40px;
    
            .slTitle {
                font-size: 60px;
                line-height: 70px;
            }
            p {
                font-size: 20px;
            }
        }
    }
}