.featuredSection{
    padding-bottom: 70px;

    .savedCafe{

        .backIcon{
            margin-bottom: 46px;
    
            a{
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                color: #393939;
                display: flex;
                align-items: center;
    
                svg{
                    font-size: 18px;
                    margin-top: 1px;
                }
            }
        }

        h5{
            font-weight: 600;
            font-size: 50px;
            line-height: 54px;
            color: #1C1C1C;
            margin-bottom: 0px;
            padding-bottom: 35px;
            border-bottom: 1px solid #DEDEDE;
        }
    }

    .blogFilter{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;

        ul{
            list-style: none;
            padding-left: 0px;
            display: flex;
            gap: 24px;
            margin-bottom: 0px;
            align-items: center;

            p{
                margin-bottom: 0px;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                color: #1C1C1C;
            }

            li{

                .actionBtn {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    color: #BFBFBF;
                    background: transparent;
                    border: none;
                    padding: 0px;
                }

                &.active{

                    .actionBtn {
                        color: #1C1C1C;
                    }
                }
            }
        }
    }

    .coffeShop {
        padding: 20px 0px;
        border-bottom: 1px solid #DEDEDE;
        a {
            color:var(--Color);
        }
    
        .coffeShopImg {
            position: relative;
    
            .image {
                width: 100%;
                border-radius: 10px;
                object-fit: cover;
                height: 200px;
            }
    
            .overlay {
                position: absolute;
                top: -1px;
                right: -2px;
                width: 85px;
    
                .shapeBg {
                    width: 100%;
                    height: 100%;
                }
               
                .viewBtn {
                    width: 58px;
                    height: 58px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: #F8F8F8;
    
                    &.active {
                        background: #FFF0C6;
                    }
    
                    img {
                        height: 30px;
                    }
                }
            }
        }
        .coffeShopBody {
            position: relative;
            margin-top: 12px;
    
            h3 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 5px;
                padding-right: 50px;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            p {
                color: #878787;
                margin: 0px;
            }
            .rating {
                display: flex;
                align-items: center;
                position: absolute;
                right: 0;
                top: 0;
                color: #878787;
    
                svg {
                    color: #61E0BC;
                    position: relative;
                    top: -2px;
                    margin-right: 3px;
                }
            }
        }
       
    }

    .reviewBox{
        margin-top: 20px;

        .reviewRate{
            display: flex;
            justify-content: space-between;

            .reviewStar{

                ul{
                    display: flex;
                    align-items: center;
                    padding-left: 0px;
                    list-style: none;
                    gap: 4px;
                    cursor: pointer;

                    li{

                        svg{
                            color: #45D6AD;
                        }
                    }
                }

                h5{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: #1C1C1C;
                    margin-bottom: 10px;
                }
            }

            .ratingNumber{
                align-items: center;
                height: 50px;
                background: #E0EBA5;
                border-radius: 13px;
                min-width: 50px;
                display: flex;
                justify-content: center;
            }
        }

        p{
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #878787;
            margin-bottom: 20px;
        }

        .seeReview{

            button{
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                color: #1C1C1C;
                text-decoration-line: underline;
                background-color: transparent;
                border: none;
                padding: 0px;
            }
        }
    }
    

}



.fixSpace {
    padding-top: 120px;
  }
  

.spaceBox {
padding: 30px;
}

/*=======================================================
//////////////RESPONSIVE MEDIA QUERY START///////////////
=======================================================*/



@media (max-width:991px) {
    .spaceBox {
       padding:15px;
    }
    .fixSpace {
        padding-top: 65px;
      }
    .workSpaceSection {
        margin-top: 30px;

        .title2 {
    
            .moon {
                right: 0px;
            }
            .star {
                position: absolute;
                left: 45px;
                top: -25px;
                pointer-events: none;
                z-index: -1;
                height: 80px;
            }
        }
        .sliderRow {
            margin: 0 0px;
            
            :global(.item) {
                padding: 0px 10px;
            }
        }
    
    }
    .bannerSection {
        border-radius: 30px;
        padding: 65px 0px 0px 0px;
    
        
        .shapeTouch {
            position: absolute;
            left: 0;
            top: 0px;    
            width: 150px;
        }

        .imgBox {
            display: none;
        }
        .contentBox {
            padding: 40px 10px;
    
            .slTitle {
                font-size: 34px;
                font-weight: 600;
                line-height: 40px;
                margin-bottom: 20px;
            }
            p {
                font-size: 16px;

                br {
                    display: none;
                }
            }
    
            .downloads {
    
                li {
    
                    a {
    
                        img {
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
    .featuredSection {

        :global(.item) {
            padding: 0px 10px;
        }
        
        :global(.owl-carousel) {
    
            :global(.owl-nav) {
                display: none;
            }
        }
           
    }
    
    .cardBox {
        position: relative;
        height: 280px;

        h5 {
            padding: 20px 20px;
            font-size: 26px;
        }
        

        &.cardBox2 {
            margin-top: 20px;
        }

    }
    
}


@media only screen and (min-width:768px) and (max-width:991px) {

    .bannerSection {
        border-radius: 30px;
        padding: 65px 0px 0px 0px;
    
        

        .imgBox {
            display: block;

            img {
                width: 370px;
            }
        }
    }
}
@media only screen and (min-width:992px) and (max-width:1199px){

    .bannerSection {
        
        .imgBox {
    
            img {
                width:530px;
            }
        }
        .contentBox {
            padding: 40px 20px;
    
            .slTitle {
                font-size: 50px;
                line-height:50px;
            }
        }
    }
    
}


@media only screen and (min-width:1200px) and (max-width:1490px){

    .bannerSection {
        
    
        .imgBox {

    
            img {
                width: 670px;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .contentBox {
            padding: 40px 40px;
    
            .slTitle {
                font-size: 60px;
                line-height: 70px;
            }
            p {
                font-size: 20px;
            }
        }
    }
}