@import "../../../assets/stylesheet/variables.module.scss"; 
@import "../../../assets/stylesheet/fonts.module.scss"; 

.mainFooter {
    margin-left: 250px;
    padding: 20px 25px;
    background: #fff;
    text-align: center;

}
